{{ $topic := .Get 0 }}

<!-- TICd -->
{{ if eq $topic "TICd" }}
<p>
    <i>
        <b>Groupe Imagerie @ HE-Arc</b>
        <br>
        Les domaines de compétences du <a href="https://www.he-arc.ch/ingenierie/groupes-de-competences/imagerie/">groupe Imagerie</a> incluent l'acquisition, l'analyse et le traitement d'images d'une part;
        la synthèse d'images 3D et l'animation 3D (infographie) d'autre part.
        La maîtrise de ces différents aspects de l'image nous permet de traiter des problématiques variées utilisant notamment la réalité augmentée, la réalité virtuelle ainsi que les Serious Games.
    </i>
</p>

<!-- CPP -->
{{ else if eq $topic "CPP" }}
<p>
    <i>
        <b>1242.2 Langage C++ @ HE-Arc - 1ère année, semestre de printemps, 4.5h / semaine</b>
        <br>
        Ce cours est une introduction au langage C++ et à la programmation orientée objet (POO).
        Il aborde les notions de classes, objets, surcharge des opérateurs, héritage, polymorphisme, transtypage, RTTI, modèles, exceptions et la bibliothèque standard.
        Les étudiants mettent en pratique ces concepts à travers un projet de développement d'un jeu vidéo (RPG).
    </i>
</p>

<!-- Outils d'infographie -->
{{ else if eq $topic "OutilsCG" }}
<p>
    <i>
        <b>3292.2 Outils d'infographie @ HE-Arc - 3ème année, semestre de printemps, 2.25h / semaine</b>
        <br>
        Ce cours est une introduction aux outils d'infographie 3D.
        Il aborde entre autres les notions de caméra, lumière, matériaux, shaders, animation 3D, post-traitement, ombres, lightmaps, script, coroutines.
        Les étudiants mettent en pratique ces concepts à travers un projet de développement d'un jeu vidéo en 2D ou en 3D avec Unity URP.
    </i>
</p>

{{ end }}
